body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

@font-face {
	font-family: 'Chess7';
	src: url('/Chess7/Chess7.eot');
	src: local('/Chess7/Chess7'), url('/Chess7/Chess7.woff') format('woff'), url('/Chess7/Chess7.ttf') format('truetype');
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-family: 'Chess7';
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.selected {
  font-weight:bold;
}

.highlight {
  background: yellow;
}